*{
    box-sizing: border-box;
  	margin: 0;
	padding: 0;
	border: 0;
}
li { list-style-type: none; 
}
a{
    text-decoration: none;
}


:root{
    font-size: 62.5% ;
}


header.header-custom{
    padding-left: 16rem;
    padding-right: 13rem;
    background-color: #1E2C2E;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7.6rem;
}
.header-title{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #9AA8B2;
}
.header-temas{
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.header-temas ul{
    display: flex;
    justify-content: space-between;
}
.header-temas li{
    border-bottom: solid 10px;
    width: 18rem;
    height: 8.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.boatos{
    color: #D3E6BA;
}

.comercioEletronico{
    color: #BAE1E6;
}

.internetBanking{
    color: #C8BAE6;
}

.redesSociais{
    color: #E6BABA;
}

.dispositivosMoveis{
    color: #BAC6E6;
}
.corpo{
    display:flex ;
    flex-direction: column;
    align-items: center;
    margin: 4rem 30rem;
    gap: 1rem;
}
.corpo h1{
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 38.4px;
}
.corpo h2{
    font-family: 'Barlow';
    font-weight: 600;
    font-size: 26px;
    line-height: 29px;
}
.corpo p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px
}
.quiz{
    background: #25718A;
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 32px;
    width: 20rem;
    height: 8rem;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
footer{
    background: #1E2C2E;
    padding: 0 13rem;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
.footer-temas{
    margin-top: 9.8rem;
    margin-bottom: 5.8rem;
}
.footer-temas ul{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
}
.footer-temas li{
    border-left: solid 10px;
    padding-left: 20px;
    height: 7.4rem;
    width: 19rem;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    text-transform: uppercase;
}
.puc{
    display: flex;
    justify-content: center;
    padding-bottom: 2.6rem;
}
