*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5% ;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

header{
    height: 32rem;
    background-color: #1E2C2E;
    padding-right: 13rem;
}
#logo{
    display: flex;
    color: #9AA8B2;
    align-items: center;
}
#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.1rem;
    text-decoration: none;
    color: #9AA8B2;
    
}
#cabecalho{
    display: flex;
    justify-content: space-between;
    padding-left: 12rem;
    margin-bottom: 2rem;
}
#temasheader{
    display: flex;
    gap: 2rem;
    padding: 0 0 0 18rem;
}
#temasheader div{
    text-align: center;
    border-bottom: solid 10px;
}
#boatos{
    color: #D3E6BA;
    min-height: 10rem;
    width: 23rem;
}
#comercioEletronico{
    color: #BAE1E6;
    min-height: 10rem;
    width: 23rem;
}
#internetBanking{
    color: #C8BAE6;
    min-height: 10rem;
    width: 23rem;
}
#redesSociais{
    color: #E6BABA;
    min-height: 10rem;
    width: 23rem;
}
#dispositivosMoveis{
    color: #BAC6E6;
    min-height: 10rem;
    width: 23rem;

}
#redes{
    color: #E6CABA;
    min-height: 10rem;
    width: 23rem;

}